@import "../../Style/style";

.HomePage {
    height: calc(100vh - torem(70px));
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextSection {
    font-size: torem(50px);
    font-family: poppins;

    h2 {
        width: fit-content;
        position: relative;
    }
}